*{
    font-family: monospace;
    font-size:15px;
}



body{

    margin: 0;
}

header{
     
    border-radius:20px;
    color: aliceblue;
    height:100vh;
    background-color:rgb(8, 119, 119);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    
}

h1{
    color:rgb(50, 154, 192);
    font-size: 50px;
}

 
header h1{
    text-align: center;
    color:white;
    margin:0;
}

.button{
    border:1px solid black;
    height:40px;
    width: 140px;
    border-radius:10px;
    cursor: pointer;
    margin:10px;
   
}

.button:hover{
   
    background-color: rgb(40, 38, 68);
    color:white;
}

img{
    height:300px;
    width:220px;

}
#skill{
    background-color: rgb(132, 119, 204);
    color:white;
    
}
#skill h1{
    color:black;
}

 #about{
    background-color:  rgb(214 208 239);
 }

section{
    height: 100vh;
    border: 1px solid grey;
    
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
 

.submit{
    background-color:rgb(74, 173, 209);
    color:white;
    padding:5px;
    cursor: pointer;

}

.reset{
     
        background-color: rgb(74, 173, 209);
        color:white;
        padding:5px;
        cursor: pointer;
}

.submit:hover{
    background-color: rgb(29, 121, 155);
}

.reset:hover{
    background-color: rgb(29, 121, 155);
}
 
.top{
    position: fixed;
    bottom:0px;
    background-color: aqua;
    right:0px;
    height:50px;
    width:50px;
    border-radius: 50%;
} 
 
footer{
    color:lightgrey;
    height:100px;
    border-radius: 10px;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonstype{
    display:flex;
    margin:20px;
    border:black;
}

.text{
    font-size: 25px;
}

#con{
    background-color: rgb(177 171 26 / 33%);
}

a{
    text-decoration: none;
}